@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.img-JSLogo {
    background-color: #ea7600;
    width: 300px;
    transform: translate(-4px, 2px);
    order: 3;
    margin-left: auto;
}

.header {
    display: flex;
    background-color:#585555;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0 7px 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background-color: #585555;
}

.headerNav {
    list-style: none;
    order: 2;
    transform: translateY(-5.5px);
}

.headerNav li {
    display: inline-block;
    padding: 0px 20px;
}

.headerNav li a {

    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
}

.headerNav li a:hover {
    color: #ea7600;
    background-color: aliceblue;
    font-weight:bolder;
}

.header h1 {
    background-color: #585555;
    color: whitesmoke;
    transform: translateX(10px);
    order: 1;
    padding-right: 5rem;
}

button {
    padding: 9px 25px;
    background-color: rgba(234, 118, 0, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;

    transition: all 0.1s ease 0s;
    -webkit-transition: all 0.1s ease 0s;
    -moz-transition: all 0.1s ease 0s;
    -o-transition: all 0.1s ease 0s;
}

button.hover {
    background-color: rgba(234, 118, 0, 0.8);
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: #585555;
}

.sidebar h2 {
    background-color: #ea7600;
    text-indent: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.sidebar i {
    background-color: #585555;
    height: 20px;
    padding-top: 0;
    padding-left: 1.5rem;
    padding-bottom: 0;
    padding-right: 5rem;
}

.sidebar li a i {

    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
}

.sidebar li a i:hover {
    color: #ea7600;
    background-color: aliceblue;
    font-weight:bolder;
}

