*{
    margin: 0;
    padding: 0;
    font-family: 'Fauna One', serif;
    background: rgb(189, 229, 230);
}

.main {
    font-family: Cinzel, serif;
    font-size: 28px;
    text-align: center;
    padding: 2rem;
}

#addItem{
    width: 200px;
    height: 25px;
    transform: translateY(-20%);
    position:relative;
}

#addBtn {
    position: absolute;
    width: 34px;
    cursor: pointer;
}

li {
    list-style-type: none;
    font-size: 20px;
    word-wrap: normal;

}

li button {
    border: 2px solid black;
    border-radius: 5px;
    width: 34px;
    height: 34px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

input.checkbox {
    width: 34px;
    height: 34px;
}

input[type="text"], textarea{
    background-color: #FFF;
}